/* Highlighted text with a small dot above each character */
.dot-text {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.6px;
}

.dot-text::before {
  content: "";
  position: absolute;
  top: -0.2rem;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 9999px;
  background-color: #146247;
}
